RewriteEngine On
Options -Indexes
RewriteRule ^getstudent$ modules/inc/add_member.php [L]
RewriteRule ^ADDMEMBER$ modules/inc/add_member.php [L]
RewriteRule ^ADDTHESIS$ modules/inc/add_thesis.php [L]
RewriteRule ^SAVEHISTORY$ modules/inc/savehistory.php [L]
RewriteRule ^SAVEHISTORY_T$ modules/inc/savehistory_t.php [L]
RewriteRule ^memberdata/user/data.conf$ assets/data/product.php [L]
RewriteRule ^www/get/GETALLMEMBER$ assets/data/members.php [L]
RewriteRule ^www/get/GETALLTHESIS$ assets/data/thesis.php [L]
RewriteRule ^www/get/GETALLBOOKS$ assets/data/fgbooks.php [L]
RewriteRule ^www/get/GETALLBOOKSB$ assets/data/borrowed.php [L]
RewriteRule ^www/get/GETALLBOOKSR$ assets/data/returned.php [L]
RewriteRule ^www/get/GETALLBOOKSD=([0-9]+)$ assets/data/gbooks.php?ids=$1 [L]
RewriteRule ^www/get/GETALLMEMBERST$ assets/data/student.php [L]
RewriteRule ^www/get/GETALLMEMBERGR$ assets/data/all_grad.php [L]
RewriteRule ^www/get/GETALLFACULTY$ assets/data/all_fac.php [L]
RewriteRule ^www/get/GETALLSTAFF$ assets/data/all_staff.php [L]
RewriteRule ^www/get/GETALLALUMNI$ assets/data/all_alumni.php [L]
RewriteRule ^www/get/GETALLALUMNI2$ assets/data/all_alumni2.php [L]
RewriteRule ^www/get/GETALLTRANSFERED$ assets/data/all_transfered.php [L]
RewriteRule ^BULKDELETE$ modules/inc/bulk.php [L]
RewriteRule ^edit_u=([0-9]+)/?$ edit_member.php?id=$1 [L]
RewriteRule ^updateuser$ modules/inc/updateData.php [L]
RewriteRule ^updatebook$ modules/inc/updateBook.php [L]
RewriteRule ^updatemember$ modules/inc/updatemember.php [L]
RewriteRule ^updatebookprop$ modules/inc/updateBookprop.php [L]
RewriteRule ^updatebookprop1$ modules/inc/updateBookprop1.php [L]
RewriteRule ^insertbookprop$ modules/inc/insertbookprop.php [L]
RewriteRule ^insertbookprop1$ modules/inc/insertbookprop1.php [L]
RewriteRule ^dropbook$ modules/inc/dropbook.php [L]
RewriteRule ^dropmember$ modules/inc/dropmember.php [L]
RewriteRule ^dropthesis$ modules/inc/dropthesis.php [L]
RewriteRule ^CHECKID$ modules/inc/checkmemid.php [L]
RewriteRule ^ADD_BOOK$ modules/inc/add_book.php [L]
RewriteRule ^RELOAD$ modules/inc/items.php [L]
RewriteRule ^RELOAD_A$ modules/inc/items1.php [L]
RewriteRule ^RELOAD_T$ modules/inc/items2.php [L]
RewriteRule ^CHECKREM$ modules/inc/checkremarks.php [L]
RewriteRule ^logout$ modules/inc/delsession.php [L]
RewriteRule ^CHECKHISTORY$ modules/inc/fetch_history.php [L]
RewriteRule ^CHECKHISTORY_s$ modules/inc/fetch_history_s.php [L]
RewriteRule ^CHECKHISTORY_T$ modules/inc/fetch_history_t.php [L]
RewriteRule ^CHECKHISTORY_T2$ modules/inc/fetch_history_t2.php [L]
RewriteRule ^getapid=([0-9]+)/?$ modules/inc/book_acc.php?id=$1 [L]
RewriteRule ^APICC$ modules/inc/acc_api.php [L]
RewriteRule ^DROP$ modules/inc/drop.php [L]
RewriteRule ^GPLACE$ modules/inc/get_replacedfor_data.php [L]
RewriteRule ^GETFILTERED$ modules/inc/getfilteredmember.php [L]
RewriteRule ^checkusr$ modules/inc/b_mselect.php [L]
RewriteRule ^checkbb$ modules/inc/b_bselect.php [L]
RewriteRule ^Actionbulkborrow$ modules/inc/borrow.php [L]
RewriteRule ^checkrb$ modules/inc/b_rselect.php [L]
RewriteRule ^checkrb2$ modules/inc/b_rselect2.php [L]
RewriteRule ^pfine$ modules/inc/payfines.php [L]
RewriteRule ^Actionreturn$ modules/inc/return.php [L]
RewriteRule ^borrow_check$ modules/inc/borrow_check.php [L]
RewriteRule ^inventory$ assets/data/inventory.php [L]
RewriteRule ^inventory_t$ assets/data/inventory_t.php [L]
RewriteRule ^saveinventory$ modules/inc/saveinventory.php [L]
RewriteRule ^destroyinv$ modules/inc/destroyinv.php [L]
RewriteRule ^inventory_e$ assets/data/inventory_e.php [L]
RewriteRule ^inventory_t_e$ assets/data/inventory_t_e.php [L]
RewriteRule ^inventory_t_ne$ assets/data/inventory_t_ne.php [L]
RewriteRule ^inventory_t_l$ assets/data/inventory_t_l.php [L]
RewriteRule ^inventory_ne$ assets/data/inventory_ne.php [L]
RewriteRule ^inventory_l$ assets/data/inventory_l.php [L]
RewriteRule ^cardboard.jpg$ assets/images/cardboard.jpg [L]
RewriteRule ^updatethesis$ modules/inc/updatethesis.php [L]
RewriteRule ^entrancecheck$ modules/inc/entrance.php [L]
RewriteRule ^entrancecheck2$ modules/inc/entrance2.php [L]
RewriteRule ^barchart$ modules/inc/barchart.php [L]
RewriteRule ^barchart2$ modules/inc/barchart2.php [L]
RewriteRule ^accessionreport$ modules/inc/report.php [L]
RewriteRule ^add_b$ modules/inc/add_bulliten.php [L]
RewriteRule ^delete_b$ modules/inc/delete_bulliten.php [L]
RewriteRule ^addalumni$ modules/inc/addalumni.php [L]
RewriteRule ^deletealumni$ modules/inc/deletealumni.php [L]
RewriteRule ^updateaccount$ modules/inc/updateaccount.php [L]
RewriteRule ^deactivate$ modules/inc/deactivate.php [L]
RewriteRule ^createuser$ modules/inc/createuser.php [L]
RewriteRule ^mail$ modules/inc/mailer.php [L]
RewriteRule ^reset$ modules/inc/reset.php [L]